<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/registration_number.css">
</head>
<body>
    <div class="container">
		<div>
			<h1>Registration numbers</h1>

			<div class="message">

			</div>
			<div>
				<input type="text" class="regNumberEntered" placeholder="enter a registration number">
				<button class="addRegNumber btn blue">Add reg number</button>
			</div>

			<div class="filter">
				<strong>Filter by town</strong>

				<input type="radio" name="town" value="">Show all
				<input type="radio" name="town" value="CY">Bellville
				<input type="radio" name="town" value="CJ">Paarl
				<input type="radio" name="town" value="CA"> Cape Town

			</div>
			<hr>
			<div class="regNumbers">
			

				<div class="regNumber">
					CY 124-245
				</div>
			</div>
		</div>
	</div>
</body>
<script src="registration_number.js" charset="utf-8"></script>
</html>