<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Registration</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<div class="container">
		<div class="main-container">
			<h1>Registration numbers</h1>
			
			<div class="message">
				{{messages.message}}
			</div>
			
            <strong><p><i> Enter your registration number below e.g WP 345 825, GP 123123, EC 678-187</i></p></strong>
			

			<form action="/registration" method="POST">

				<input type="text" name="reg" class="regNumberEntered" value=""
					placeholder="enter a registration number">

				<button type="submit" class="addRegNumber btn blue">Add reg number</button>
				
			</form>

			<form action="/filtering" method="post">
				<div class="filter">
					<strong>Filter by town</strong>
					{{!-- <input type="radio" name="town" value="">Show all --}}
					<input type="radio" name="town" value="EC">Eastern Cape
					<input type="radio" name="town" value="GP">Gauteng
					<input type="radio" name="town" value="WP"> Western Province
				</div>
				<hr>
				<div class="regNumbers">
					{{#each output}}
					<div class="output">
						{{this.reg_number}}
					</div>
					{{/each}}
				</div>
				<br>
				<div class="plates">
					<div class="TownName">
				<button type="submit" class="Names">Filter Towns</button>
					</div>
					<a href="/clear">
			<div class="clear">Clear</div>
		            </a>
				</div>
			</form>
			<div class="topnav"><a href="/clear">
				<a class="active" href="/">Home</a>
				<a href="/registration"></a>
			</div>
			</div>
		</div>
		<br>
		
	</div>
	</div>
	</div>
</body>
<script src="setTimeout.js"></script>

</html>